<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
@*        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(AdminLayout)" />
*@
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Ledsen hittar ingenting på den här sidan.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>
